* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main_container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;

  display: flex;
  justify-content: flex-end;

  padding: 1rem;
  background-color: #f1f1f1;
}

.header_log {
  width: 3rem;
  height: 3rem;
}

.logo_image {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  height: 8rem;

  background-color: #434343;
}

.main {
  width: 100%;
  height: 100%;
}

.main_content {
  display: flex;

  min-width: 100rem;
  flex-direction: column;
  align-items: center;

  padding: 10rem;

  gap: 3rem;
}

.main_content_item {
  display: flex;
  gap: 10rem;
}

.default_image {
  width: 30rem;
  height: 30rem;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.arrow_image {
  width: 3rem;
  height: 3rem;
}

.navigation_title {
  font-size: 2rem;
}

.navigation_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}
