.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px); 
  padding: 20px;
  margin-left: 200px;
  margin-top: 50px;
}

.leftSection {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.leftSection img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.rightSection p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.logoutButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #6700e6;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.logoutButton:hover {
    background-color: #e182d7;
}