* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main_container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_image {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
}

.main_content {
  display: flex;

  min-width: 100rem;
  flex-direction: column;
  align-items: center;

  padding: 10rem;

  gap: 3rem;
}

.default_image {
  width: 20rem;
  height: 20rem;

  cursor: pointer;
}

.input_file {
  display: none;
}

.inputs_wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input_wrap {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.label {
  font-size: 2rem;
  font-weight: bold;
}

.input {
  width: 20rem;

  border: none;
  padding: 1rem;

  background-color: #f1f1f1;
}

.button {
  width: 20rem;

  border: none;
  padding: 1rem;

  background-color: #6700e6;

  font-size: 2rem;
  border-radius: 10px;

  color: #fff;
}

.button:disabled {
  background-color: #670000;
}
