* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  font-size: 12px;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main_container {
  width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_image {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.main {
  width: 100%;
  height: 100%;
}

.main_content {
  display: flex;
  margin-left: 10rem;
  min-width: 100rem;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 10px 10px #cdcdcd;
  margin-top: 150px;
  padding: 50px;
  gap: 3rem;
}

.inputs_wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input_wrap {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.label {
  font-size: 2rem;
  font-weight: bold;
  flex-basis: 10rem;
  text-align: right;
}

.input {
  width: 30rem;

  font-size: 1.5rem;

  border: none;
  padding: 1rem;

  background-color: #f1f1f1;
}

.textarea {
  width: 30rem;
  height: 15rem;

  font-size: 1.5rem;

  border: none;
  resize: none;
  padding: 1rem;

  background-color: #f1f1f1;
}

.button {
  width: 20rem;

  border: none;
  padding: 1rem;

  background-color: #6700e6;

  font-size: 2rem;
  border-radius: 10px;

  color: #fff;

  cursor: pointer;
}

.button:disabled {
  background-color: #670000;
}
