* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main_container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_image {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.main {
  width: 100%;
  height: 100%;
}

.main_content {
  min-width: 100rem;

  padding: 11rem 5rem 0rem 26rem;
  gap: 4rem;
}

.minutes_list_container {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 1rem;
  color: #000;
}

.minutes_list_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 3rem;
}

.minutes_unit {
  background-color: #f1f1f1;
}

.minutes_info {
  width: 70rem;

  display: flex;
  gap: 4rem;

  padding: 1rem 2rem;
}

.minutes_title {
  flex-basis: 15rem;
  color: #6700e6;
}

.minutes_date {
  flex-basis: 10rem;
  color: #6700e6;
}
.minutes_attendee {
  flex-basis: 10rem;
  color: #6700e6;
}

.minutes_createAt {
  flex-basis: 10rem;
  color: #6700e6;
}

.minutes_content {
  padding: 1rem 5rem;
  height: 6rem;
  background-color: #f1f1f1;
  color: #6700e6;
  text-align: left;
}

.minutes_page_wrap {
  display: flex;
  gap: 1rem;
}

.minutes_page {
  padding: 0.5rem;
  color: #6700e6;

  cursor: pointer;
}
