* {
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6700E6;
    color: white;
    padding: 10px;
    height: 100vh;
    position: fixed;
}

.content {
    max-width: 50%;
    padding-left: 100px;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 50px;
    font-weight: bold;
  }

.text {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 100px;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.loginButton, .signupButton {
    background-color: white;
    color: #6700E6;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

.loginButton:hover, .signupButton:hover {
    background-color: #260054;
    color: white;
}

.image {
    max-width: 40%;
    height: auto;
    padding-right: 100px;
}