.header {
  width: 100%;
  height: 6.5rem;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #f1f1f1;
  left: 200;
  cursor: pointer;
}

.header_box1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_profile_img{
  width: 3rem;
  height: 3rem;
  box-shadow: 0px 0px 10px 5px #cdcdcd;
  border-radius: 100px;
}
