.header {
  width: 100%;

  display: flex;
  justify-content: flex-end;

  padding: 1rem;
  background-color: #f1f1f1;
}

.header_log {
  width: 3rem;
  height: 3rem;
}

.logo_image {
  width: 100%;
  height: 100%;
}
