

.footer_box{
  background-color: #434343;
  position: fixed;
  left: 200px;
  bottom: 0;
  height: 60px;
  padding: 0 20px;
  width: calc(100vw - 200px);
  display: flex;
  justify-content: space-between;
}

.footer_ul_box{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_ul{
  display: flex;
  padding: 0;
}

.footer_li {
  list-style: none;
  font-size: 10px;
  padding-right: 20px;
}

.footer_a{
  text-decoration: none;
  color: #FFFFFF;
}

.footer_p {
  font-size: 10px;
}

.footer_copyright{
  font-size: 10px;
  color: #cdcd;
}

.footer_sns_box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 30px;
}

.footer_sns_youtube{
  width: 30px;
  height: 20px;
}

.footer_sns_instagram{
  width: 30px;
  height: 30px;
}

.footer_sns_likedin{
  width: 30px;
  height: 30px;
}